.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  align-items: center;
  margin: 2rem;
  padding: 2rem;
}

.title-container {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.avatars {
  display: flex;
  gap: 2rem;
  .avatar {
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;

    img {
      height: 6rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      &:focus {
        outline: none;
        transform: scale(1.1);
      }
    }
  }
  .selected {
    border: 0.4rem solid black;
  }
}

.submit-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: #256a28;
  }
}
