.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #494949;
  border-radius: 8px;
}

.chat-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0.5rem;
  background-color: #494949;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.2rem solid #000000;
  .chat-avatar {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img {
      width: 2rem;
      height: 100%;
      border-radius: 50%;
    }
  }
  .chat-user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0.5rem;
    .chat-username {
      font-size: 1.2rem;
      font-weight: 600;
      color: #fff;
    }
    .chat-status {
      font-size: 0.8rem;
      color: #fff;
    }
  }
}

.chat-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.chat-input {
  border-top: 0.2rem solid #000000;
  border-radius: 0.4rem;
  width: 100%;
  height: 10%;
}
